/* ====================== Responsive design pattern styles ====================== */
@media screen and (max-width: 480px) {
    body, html {min-width: 100%;padding: 0; overflow-x:hidden;}
    #maincontent {
        padding: 0;
        overflow: hidden;
     }
    nav {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em;
    }
    nav h1 a {
        font-size: 1em;
    }
    .filter-options {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 5px 0 5px;
        height: auto;
    }

    .filter-icon, .filter-options h2, .filter-options select {margin:20px auto; }

    #restaurants-list  {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #restaurants-list li h1 {font-size: 1.3em; }
    #restaurants-list li {
        width: 70%;
        margin:30px auto;
    }
    #restaurants-list button {
        margin: 0 auto;
        width:50%;
    }
    #reviews-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #reviews-list li {
        width: 90%;
        height: auto;
    }
    #reviews-list li p:nth-child(1),
    #reviews-list li p:nth-child(2) {
      width: 100%;
    }
    #reviews-list li p:nth-child(3) {
      width:30%;
    }
    #reviews-list li p {text-align: justify;}
    #footer {
        font-size: 0.8rem;
        letter-spacing: 1px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        text-transform: uppercase;
    }

}

@media screen and (min-width: 500px) {
    #maincontent {padding: 0; overflow:hidden;}
    nav {
        width: 100%;
        padding: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    nav h1 a {font-size: 2.5rem;}
    .filter-options {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        height: auto;
    }
    .filter-icon, .filter-options h2, .filter-options select {margin:20px auto; }
    #restaurants-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #restaurants-list li {
        width: 50%;
        margin:15px;
    }
}

@media screen and (min-width: 700px) {
    #maincontent {padding: 0; overflow:hidden;}
    nav {
        width: 100%;
        padding: 2rem;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    nav h1 a {font-size: 2.5rem;}
    .filter-options {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em;
        height: auto;
    }
    .filter-icon, .filter-options h2, .filter-options select {margin:20px auto; }
    #restaurants-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #restaurants-list li {
        width: 33%;
        margin:15px 30px;
    }
}

@media screen and (min-width: 800px) and (min-width: 1000px) {
    #restaurants-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    #restaurants-list li {
        width: 33.33%;
        margin:15px 20px;
    }

    #maincontent {
        /* width: 1280px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 10px #444;*/
        box-shadow: 0 0 5px 5px rgba(0,0,0,.2);
        max-width:97%;
        margin: 0 auto;
        margin-left: auto;
        margin-right: auto;
        overflow-x: hidden;
    }
}
@media screen and (min-width: 1366px) {
     #restaurants-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    #restaurants-list li {
        width: 25%;
        margin:5px 20px;
    }
}